<div>
  <%@products.each do |product|%>
    <div class="card">
      <img class="card-img-top" src="<%=product["thumbnail"]%>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= product["title"] %></h5>
        <%= button_to "Check Me Out!", present_path(product["id"]), class: 'btn btn-primary', :method => :get %>
      </div>
    </div>
  <% end %>
</div>
