.background-category {
    z-index:-5 ;
    background-image:"https://res.cloudinary.com/dykks7d7x/image/upload/v1647887378/lacea_around_l9bzlq.png";
    position:fixed;
    top:2%;
    right: 0%;
    left:0%;
    bottom:0px;
    
    width:100%;
}

.container.mt-4.mb-2 {
    margin-top: 18px !important;
} 