// Specific CSS for your home-page
.container-homepage {
  width: 1512;
  height: 400;
}

.carousel-item {
  margin-top: 25px;
}

.page-container {
display: grid;
grid-template-rows: auto 1fr auto;
min-height: 100vh;
}

h1 {
  color: #FF7B7B;
  font-family: $footer-font;
  display: flex;
  align-content: flex-start;
  text-shadow: 1px 1px 1px #acabab;
}

.p-carousel {
  // color: #747474;
  color: azure;
  display: flex;
  align-content: flex-start;
  padding-bottom: 27rem;
  font-size: 1rem;
}

.carousel-titles {
  color: #FF7B7B;
  font-family: $footer-font;
  text-shadow: 2px 2px 1px #ffffff;
}

#about-title {
  font-size: 4rem;
  font-family: $footer-font;
  font-weight: 900;
  color: #0011fa;
}

.container-color {
  background-color: #ff6c6c;
}
