

<footer class="footer">
  <div class="footer-phrase">
    <%# <img src="avatar.png" alt="Avatar" class="avatar-footer"> %>
    <h2 id="footer-text">Created with love by the Perfect Present Team</h2>
    </div>




<div class="footer-style">
  <div class="follow">
    <span class="text-muted"><h4 class="h4-footer"><strong>Follow Us</strong></h4></span>
      <div class="border-bottom"></div>
        <div class="footer-links social-media">
          <a href="https://www.instagram.com">
            <img class="instagram" alt="Qries" src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647011170/Perfect%20Present/perfect_present_-_instagram_icon_bjfndn.png"
            width="50" height="50">
          </a>
          <a href="https://www.facebook.com">
            <img class="facebook" alt="Qries" src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647011170/Perfect%20Present/perfect_present_-_facebook_icon_pu5iql.png"
            width="50" height="50">
          </a>
          <a href="https://www.twitter.com">
            <img class="twitter" alt="Qries" src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647011170/Perfect%20Present/perfect_present_-_twitter_icon_vr1uv9.png"
            width="50" height="50">
          </a>
         </div>
        </div>
      </div>
</footer>
