<div class="container">
  <img class="row-cols-lg-auto g-3 align-items-center form-title" src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647358277/Perfect%20Present/perfect_present_zivhxr.png" alt="Perfect Present">
  <p class="p-user-form">Welcome! Please fill the form below to help you pick the<strong> PUUUURFECT PRESENT 🐈</strong></p>
  <div class="row-cols-lg-auto g-3 align-items-center">
    <form class="row-cols-lg-auto g-3 align-items-center">
      <div class="col-12">
        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
        <select class="form-select form-body" id="inlineFormSelectPref">
          <option selected>What's your budget?</option>
          <option value="1">R$ 0 - 100</option>
          <option value="2">R$ 100 - 300</option>
          <option value="3">R$ 300 - 500</option>
          <option value="4">R$ 500+</option>
        </select>
      </div>
  </div>

  <div class="row">
    <div class="col-12">
      <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
      <select class="form-select form-body" id="inlineFormSelectPref">
        <option selected>What's their personality type?</option>
        <option value="1">Analyst</option>
        <option value="2">Diplomat</option>
        <option value="3">Sentinel</option>
        <option value="4">Explorer</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
      <select class="form-select form-body" id="inlineFormSelectPref">
        <option selected>What's their hobbies?</option>
        <option value="1">Board Games</option>
        <option value="2">Reading</option>
        <option value="3">Extreme Sports</option>
        <option value="4">Gaming</option>
      </select>
    </div>
  </div>

    <div class="col-12">
      <%= link_to "Check Your Selection", presents_path, :method => :get, id:"Form-submit-button" class:"btn btn-light button"%>
    </div>
  </form>
  <div></div>
</div>
