<div class="container user-form">
  <img class="row-cols-lg-auto g-3 align-items-center form-title" src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647358277/Perfect%20Present/perfect_present_zivhxr.png" alt="Perfect Present">
  <p class="p-user-form">Welcome! Please fill the form below to help you pick the<strong> PUUURRRFECT PRESENT 🐈</strong></p>
  <div class="row-cols-lg-auto g-3 align-items-center">
    <form class="row-cols-lg-auto g-3 align-items-center">
      <div class="col-12">
        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
        <select class="form-select form-body" id="inlineFormSelectPref">
          <option selected>What's your budget?</option>
          <option value="1">R$ 0 - 100</option>
          <option value="2">R$ 100 - 300</option>
          <option value="3">R$ 300 - 500</option>
          <option value="4">R$ 500+</option>
        </select>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-12">
      <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
      <select class="form-select form-body" id="inlineFormSelectPref">
        <option selected>What's their age?</option>
        <option value="1">0-2</option>
        <option value="2">3-12</option>
        <option value="3">13-19</option>
        <option value="4">20-29</option>
        <option value="5">30-39</option>
        <option value="6">40-49</option>
        <option value="7">50-59</option>
        <option value="8">60-69</option>
        <option value="9">70-79</option>
        <option value="10">80-89</option>
        <option value="11">90+</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
      <select class="form-select form-body" id="inlineFormSelectPref">
        <option selected>What are their hobbies?</option>
        <option value="1">Board Games</option>
        <option value="2">Reading</option>
        <option value="3">Outdoor Activities</option>
        <option value="4">Gaming</option>
        <option value="5">DIY</option>
        <option value="6">Shopping</option>
        <option value="7">Cooking</option>
      </select>
    </div>
  </div>

  <div class="col-12 mx-center">
    <%= link_to "Check Your Selection", presents_path, :method => :get, id:"Form-submit-button", class:"btn btn-light button"%>
  </div>
</div>
