<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img id="logo-size" src="https://res.cloudinary.com/vmontenegro7/image/upload/v1646926516/Perfect%20Present/perfect_present_logo_option_1_transparent_BG_ci2e9z.png"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

            <div class="border"></div>
            <li class="nav-item margin-zero active">
              <a class="nav-link" href="#">Home</a>
            </li>

            <div class="border"></div>
            <li class="nav-item margin-zero">
              <a class="nav-link" href="#">About Us</a>
            </li>

            <div class="border"></div>
            <li class="nav-item margin-zero">
              <a class="nav-link" href="#">Most Chosen</a>
            </li>

            <div class="border"></div>
          <li class="nav-item dropdown">
            <img class="avatar-large dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Wishlist</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
    </div>

          <%# </li>
          <li class="nav-item">
          </li> %>
      </ul>
    </div>
  </div>
</div>
