<div class="container-team">
  <div class="card card-team card-team-0">
    <div class="border border-team">
      <h2 class="team-h2">Carlos</h2>
    </div>
  </div>
  <div class="card card-team card-team-1">
    <div class="border border-team ">
      <h2 class="team-h2">Bernie</h2>
    </div>
  </div>
  <div class="card card-team card-team-2">
    <div class="border border-team">
      <h2 class="team-h2">Allan</h2>
    </div>
  </div>
  <div class="card card-team card-team-3">
    <div class="border border-team">
      <h2 class="team-h2">Valeria</h2>
    </div>
  </div>
</div>
