<div class="container container-team">
  <div class="card card0">
    <div class="border">
      <h2 class="team-h2">Carlos</h2>
      <div class="icons">
       <i class="fa-brands fa-github" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="card card1">
    <div class="border">
      <h2 class="team-h2">Bernie</h2>
      <div class="icons">
        <i class="fa-brands fa-github" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="card card2">
    <div class="border">
      <h2 class="team-h2">Allan</h2>
      <div class="icons">
        <i class="fa-brands fa-github" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="card card3">
    <div class="border">
      <h2 class="team-h2">Valeria</h2>
      <div class="icons">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
