<div class="flex-container container-fluid container-color">
  <div class="flex-item"><h2 id="about-title">THE IDEA BEHIND</h2></div>
  <div class="flex-item mt-5" id="testimonial-p"><p class='text-justify lh-lm'>
    Buying a thoughtful gift for a special someone, whether that be a family
    member or a friend, can be a time-consuming and stressful process. The
    Perfect Present Team wanted to alleviate this qualm by introducing a fluid,
    user-friendly experience that can help you navigate these potentially
    emotional and treacherous waters. Simply fill out our form with the relevant
    information of your present recipient and you will be guided to a tailored
    and selective list of categories that best suit the expectation of that
    special someone.
  </p></div>
</div>

<div class="container mx-auto">
<h2 class="container-color-4" id="about-subtitle">WORDS FROM OUR CLIENTS</h2>
</div>

<div class="container" id="carousel-testimonials">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center mx-auto">
          <img src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647445478/Perfect%20Present/Perfect_Present_Testimonials-02_bnq0z9.png" class="d-block mx-3 cards-size" alt="...">
          <img src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647445478/Perfect%20Present/Perfect_Present_Testimonials-05_i0fwum.png" class="d-block mx-3 cards-size" alt="...">
          <img src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647445478/Perfect%20Present/Perfect_Present_Testimonials-04_vprcwt.png" class="d-block mx-3 cards-size" alt="...">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center mx-auto">
          <img src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647445478/Perfect%20Present/Perfect_Present_Testimonials-03_mym8vo.png" class="d-block mx-3 cards-size" alt="...">
          <img src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647445478/Perfect%20Present/Perfect_Present_Testimonials-06_jwwn4p.png" class="d-block mx-3 cards-size" alt="...">
          <img src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647445478/Perfect%20Present/Perfect_Present_Testimonials-01_tq4xna.png" class="d-block mx-3 cards-size" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
