<div class="banner">
  <%# <h1>Perfect Present</h1> %>
  <img src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647872399/Perfect%20Present/pexels-karolina-grabowska-4397883_1_pe111p.jpg" alt="" class="img-fluid d-block margin-bottom">
  <%# <p class="p-carousel">Buying presents can be difficult and time-consuming, but not anymore with Perfect Present!</p>
  <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p> %>
</div>
