.h-100 {
  height: 100% !important;
}
.w-65 {
  width: 65% !important;
}
.card.col.col-lg-2{
  border-radius: 0;
  margin: 0;
}
.card.col.col-lg-2:hover{
  background-color: #ff7b7b;
  color: white;
  //width: 225px;
  //height: 225px;
  box-shadow: inset 5px 0px #ff7b7b;
}
.card.col.col-lg-2:hover a{
  color: white;
  text-shadow: 1px 1px 2px black;
}

.link_style{
  color: #ff7b7b;
  text-decoration: none;
}
// .link_style:hover{
//   color: white;
// }
// a, a:hover, a:focus, a:active {
//   text-decoration: none;
//   color: inherit;
// }
.text-center.fs-1 {
  color: #FF7B7B;
  font-family: $body-font;
  text-shadow: 1px 1px 1px #acabab;
}
.fa-5x{
  color:#ff5858;
}
.card.col.col-lg-2:hover .fa-5x{
  color: white;
}
