.card-img-top{
  width: 30%;
  height: 40%;
}
.card{
  margin: 2rem;
  padding: 2rem;
  border-radius: 33px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #696969;
}
.card:hover {
  border: 2px solid #f79504;
}
.card-title{
  font-family: $footer-font;
  // font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #696969;
}

.btn.btn-primary{
  background-color: rgb(251, 191, 191);
  text-shadow: 1px 1px 2px #000000;
  border-radius: 38px;
  border: 4px solid #ff7070;
  width: 250px;
  height: 70px;
  font-size: larger;

}
.btn.btn-primary:hover{
  background: #ff6c6c;
  color: white;
}
