.button-forgot-password-devise-render {
    background-color: #FFFBFB;
    width: 541.16px;
    height: 80.71px;
    mix-blend-mode: normal;
    border: 8px solid #FF7B7B;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 54px;
    transform: rotate(0.16deg);
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    color: #FF7B7B;
    transition: background 0.3s ease;
    margin-top: -8px;
    padding: 10px 15px;
    margin-left: -3px;
    text-decoration: none;
    transition: background 0.3s ease
    
}


.button-log-in-devise-render {
    background-color: #FFFBFB;
    width: 541.16px;
    height: 80.71px;
    mix-blend-mode: normal;
    border: 8px solid #FF7B7B;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 54px;
    transform: rotate(0.16deg);
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    color: #FF7B7B;
    transition: background 0.3s ease;
    margin-top: 0rem;
    padding: 10px 15px;
    margin-left: 324px;
    text-decoration: none;
    transition: background 0.3s ease
    
}

.button-sign-up-devise-render {
    background-color: #FFFBFB;
    width: 541.16px;
    height: 80.71px;
    mix-blend-mode: normal;
    border: 8px solid #FF7B7B;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 54px;
    transform: rotate(0.16deg);
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    color: #FF7B7B;
    transition: background 0.3s ease;
    margin-top: 19px;
    padding: 10px 15px;
    margin-left: -3px;
    text-decoration: none;
    transition: background 0.3s ease
    

}

.button-confirmation-devise-render {
    background-color: #FFFBFB;
    width: 541.16px;
    height: 80.71px;
    mix-blend-mode: normal;
    border: 8px solid #FF7B7B;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 54px;
    transform: rotate(0.16deg);
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    color: #FF7B7B;
    transition: background 0.3s ease;
    margin-top: 19px;
    padding: 10px 15px;
    margin-left: -3px;
    text-decoration: none;
    transition: background 0.3s ease
    

}

