.container-forgot {
  margin-left: 399px;
  margin-top: 45px;
}

.button-forgot-password-main{
  background-color: #FF7B7B;
  width: 541.16px;
  height: 80.71px;
  mix-blend-mode: normal;
  border: 8px solid #FFFFFF;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 54px;
  transform: rotate(0.16deg);
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  color: #FFFBFB;
  transition: background 0.3s ease;
  margin: 10px;
  margin-right: 288px;
  text-decoration: none;
}

.forgot-text {
  color: #FF5454;
}

.forgot-image {
  margin-left: 612px;
  max-width: 100%;
  height: auto;
  block-size: 300px;
  margin-top: 40px;
}

.sidenav-forgot-password {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:#FFDFDF; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  text-decoration: none;


  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.pink-background {
  background: rgba(255, 123, 123, 0.04);
}

.button-forgot-password-login {
  background-color: #FFFBFB;
  width: 541.16px;
  height: 80.71px;
  mix-blend-mode: normal;
  border: 8px solid #FF7B7B;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 54px;
  transform: rotate(0.16deg);
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  color: #FF7B7B;
  transition: background 0.3s ease;
  margin-top: 1rem;
  margin-right: 275px;
  text-decoration: none;

}

.forgot-password-link {
  align-items: center;
  text-decoration: none;
}

.container-pink-box {
  position: absolute;
  width: 1100px;
  height: 942px;
  left: 234px;
  top: 41px;
  background: rgba(255, 123, 123, 0.04);
}

.button-forgot-password {
  text-decoration: none;
}

.container-resize {
  transform: scale(0.6, 0.6);
}
