.container-team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border-team {
  height: 200px;
  width: 200px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
  border: 1px solid #ff7b7b00 !important;
  border-top: 0 solid rgba(255, 0, 0, 0) !important;
}
// .border-team:hover {
//   border: 4px solid blue !important;
// }
.card-team {
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 10px 10px 8px #ffffffe7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card-team-0 {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647526200/Perfect%20Present/carlos_profile_picture_2_hbj4gb.jpg') center center no-repeat;
  background-size: 300px;
}
.card-team-0:hover {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647526200/Perfect%20Present/carlos_profile_picture_2_hbj4gb.jpg') left center no-repeat;
  background-size: 500px;
  box-shadow: 10px 10px 8px blue;
  border: 4px solid blue !important;
}
.team-h2:hover {
  opacity: 1;
}
.card-team-1 {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647435851/Perfect%20Present/Screen_Shot_2022-03-16_at_08.02.10_hsd1mi.png') center center no-repeat;
  background-size: 300px;
}
.card-team-1:hover {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647435851/Perfect%20Present/Screen_Shot_2022-03-16_at_08.02.10_hsd1mi.png') left center no-repeat;
  background-size: 500px;
  box-shadow: 10px 10px 8px #ff8801e7;
  border: 4px solid #ff8801e7 !important;
}
.team-h2:hover {
      opacity: 1;
}
.card-team-2 {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647527917/Perfect%20Present/profilegit_dkkmrp.jpg') center center no-repeat;
  background-size: 300px;
}
.card-team-2:hover {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647527917/Perfect%20Present/profilegit_dkkmrp.jpg') left center no-repeat;
  background-size: 500px;
  box-shadow: 10px 10px 8px #4eb0e6;
  border: 4px solid #4eb0e6 !important;
}
.team-h2:hover {
  opacity: 1;
}
.card-team-3 {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647538322/Perfect%20Present/profile-pic_gbpx7k.jpg') center center no-repeat;
  background-size: 300px;
}
.card-team-3:hover {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647538322/Perfect%20Present/profile-pic_gbpx7k.jpg') left center no-repeat;
  background-size: 500px;
  box-shadow: 10px 10px 8px #fffb01e7;
  border: 4px solid #fffb01e7 !important;
}
.team-h2:hover {
  opacity: 1;
}
.team-h2 {
  font-family: $footer-font;
  color:#ffffff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
  padding-top: 170px;
}
.container-color-3 {
  background-color: #fcdad9;
  display: flex !important;
  flex-direction: row !important;
  margin: 0rem 2rem 0rem 0rem !important;
  padding-bottom: 3rem !important;
}
.container-color-5 {
  text-align: center;
  align-items: center;
  margin-top: 90px;
  font-size: 3rem !important;
  font-family: $title-font !important;
  font-weight: 900 !important;
  color: #ff9b00;
  border-bottom: 4px solid #ff9b00;
  background-color: #fcdad9;
}

#about-subtitle {
  font-size: 4rem;
  font-family: $footer-font;
  font-weight: 900;
  color: #ff7b00;
  margin-top: 3rem;
}
