.container-team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border-team {
  height: 300px;
  width: 300px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
  border: 1px solid #ff7b7b00 !important;
  border-top: 0 solid rgba(255, 0, 0, 0) !important;
}
.border-team:hover {
  border: 4px solid #FF7B7B !important;
}
.card-team {
  height: 300px;
  width: 300px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 10px 10px 8px #ff7a7ae7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card-team-0 {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647526200/Perfect%20Present/carlos_profile_picture_2_hbj4gb.jpg') center center no-repeat;
  background-size: 300px;
}
.card-team-0:hover {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647526200/Perfect%20Present/carlos_profile_picture_2_hbj4gb.jpg') left center no-repeat;
  background-size: 600px;
}
.team-h2:hover {
  opacity: 1;
}
.card-team-1 {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647435851/Perfect%20Present/Screen_Shot_2022-03-16_at_08.02.10_hsd1mi.png') center center no-repeat;
  background-size: 300px;
}
.card-team-1:hover {
    background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647435851/Perfect%20Present/Screen_Shot_2022-03-16_at_08.02.10_hsd1mi.png') left center no-repeat;
    background-size: 600px;
}
.team-h2:hover {
      opacity: 1;
}
.card-team-2 {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647527917/Perfect%20Present/profilegit_dkkmrp.jpg') center center no-repeat;
  background-size: 300px;
}
.card-team-2:hover {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647527917/Perfect%20Present/profilegit_dkkmrp.jpg') left center no-repeat;
  background-size: 600px;
}
.team-h2:hover {
  opacity: 1;
}
.card-team-3 {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647538322/Perfect%20Present/profile-pic_gbpx7k.jpg') center center no-repeat;
  background-size: 300px;
}
.card-team-3:hover {
  background: url('https://res.cloudinary.com/vmontenegro7/image/upload/v1647538322/Perfect%20Present/profile-pic_gbpx7k.jpg') left center no-repeat;
  background-size: 600px;
}
.team-h2:hover {
  opacity: 1;
}
.team-h2 {
  font-family: $footer-font;
  color:#ffffff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}


.container-color-2 {
  background: linear-gradient(to top, #ff7a7ae7, #ffffffcc);
  // background-color: #0011fa;
}
// .container-color-3 {
//   background: linear-gradient(to bottom, #ff7a7ae7, #ffffffcc);
//   // background-image: url('https://res.cloudinary.com/vmontenegro7/image/upload/c_scale,w_1512/v1647547942/Perfect%20Present/pexels-gdtography-911738_headdw.jpg');
// }
