.flex-container {
  display: flex;
  flex-direction: row;
  margin: 0rem 2rem 0rem 0rem;
  padding: 2rem;
}
.flex-item {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}
#testimonial-p {
  color: azure;
  font-size: 20px;
}
#carousel-testimonials {
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.cards-size {
  width: 30% !important;
}
.pp-team {
  border-radius: 50%;
  width: 20%;
}
.meet-team {
  font-family: $body-font;
  font-size: 50px;
  text-shadow: 3px 3px 1px #ff7a7ae7;
  color: #ffffff;
  text-align: center;
}
.container-color-4 {
  text-align: center;
  align-items: center;
  margin-top: 40px;
  font-size: 3rem;
  font-family: $footer-font;
  font-weight: 700;
  color: #0011fa;
}
