.flex-container {
  display: flex;
  flex-direction: row;
  margin: 0rem 2rem 0rem 0rem;
  padding-bottom: 3rem;
}
.flex-item {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}
#testimonial-p {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
#carousel-testimonials {
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.cards-size {
  width: 30% !important;
}
.pp-team {
  border-radius: 50%;
  width: 20%;
}
// .meet-team {
//   font-family: $body-font;
//   font-size: 50px;
//   text-shadow: 3px 3px 1px #ff7a7a;
//   color: #ffffff;
//   text-align: center;
// }
.container-color-4 {
  text-align: center;
  align-items: center;
  margin-top: 90px;
  font-size: 3rem;
  font-family: $title-font;
  font-weight: 700;
  color: #ff9b00;
}
.text-align-justify {
  text-align: justify;
  text-justify: inter-word;
}

#about-title {
  font-size: 4rem;
  font-family: $footer-font;
  font-weight: 900;
  color: #ffef64;
}
