.flex-container {
  display: flex;
  flex-direction: row;
  margin: 0rem 2rem 0rem 0rem;
  padding: 2rem;
}
.flex-item {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}
#testimonial-p {
  color: azure;
  font-size: 20px;
}
#carousel-testimonials {
  margin-bottom: 5rem;
  margin-top: 5rem;
}
